html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


body {
	background: #eee;
	    font-family: 'VT323', monospace;
	    color: black;
}

hr {
  margin: 15px auto;
  border: 1px solid black;
}

.ticket {
  position: relative;
  box-sizing: border-box;
  width: 430px; 
  min-height: 250px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 5px;
  background: #FBFBFB;
  border : 3px solid black;
  box-shadow: rgba(1,1,1,.2) 0px 0px 20px;
}
.ticket:before, .ticket:after {
  content: "";
  position: absolute;
  left: 5px;
  height: 6px;
  width: 420px;

}
.ticket:before {
  top: -5px;
  background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -8px/16px 16px repeat-x;
}
.ticket:after {
  bottom: -6px;
  background: radial-gradient(circle, transparent, transparent 50%, #000 50%, #000 100%) -7px -2px/16px 16px repeat-x;
}

.ticket__content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 0px solid #D8D8D8;
}

h1 {
	text-align: center;
	font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.my-dropzone {
	border-radius: 2px;
	border: solid 1px #444;
	height: 80px;
	width: 100%;
	margin:20px auto;
	text-align: center;
	padding-top: 20px;
	font-size: 24px;
	cursor: pointer;
}
.my-dropzone:hover {
	background: #eee;
}


.rCol {
  margin-top: 10px;
}


input[type="file"] {
    pointer-events: none; filter: opacity(0); position: absolute;
}
.custom-file-upload {
  border: 2px #000 dotted;
  display: inline-block;
  padding: 6px 30px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.slider {
  position: relative;
  width: 100%;
  display:block;
  clear: both;
}

.slider label{
  float:left;
  width: 20%;
}

.slider input[type="range"] {
  width: 70%;

}
.slider p {
 width: 10%;
 float: right;
 text-align: right;
}


#prv {
      text-align: center;
}

#overlay {
width: 385px;
  text-align: center;
  position: absolute;
  height: 100px;
  background: linear-gradient(rgba(255, 255, 255,255), rgba(255, 255, 255,0.0));
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #000;
  top: 20%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #000;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}